<html>
<body>
<nav class="navbar navbar-light bg-blue text-white px-4 py-3 d-flex flex-wrap justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <img src="assets/logoMenu.png" alt="Logo" class="logo-navbar" />
  </div>
  <div class="d-flex flex-column flex-md-row align-items-md-center align-items-end gap-3 text-end">
    <span class="fw-bold user-info">Bienvenid@, {{ userName }}</span>
    <span class="fw-bold user-info">Fecha de Trabajo: {{ date }}</span>
    <span class="fw-bold user-info">Panel Usuario</span>
    <button mat-mini-fab (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</nav>

<app-dashboard-rooms *ngIf="hotelId" [hotelId]="hotelId" [userId]="userId" [dataUser] = "dataUser"></app-dashboard-rooms>
</body>
</html>
