.dashboard-title {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #2C3E50;
  text-transform: uppercase;
}

.dashboard-title span {
  color: #009ebc;
  font-weight: 900;
}

.bg-blue {
  background-color: #009ebc;
}

.mat-mini-fab.mat-accent {
  background-color: #223344;
  color:white;
}

@media (min-width: 992px) {
  .col-lg-1-5 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}

