<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="employee-form">
  <mat-dialog-content class="dialog-content">
    <div class="dialog-header">
      <div class="header-content">
        <h2 class="text-center">Crear Empleado</h2>
        <button mat-icon-button class="close-button" (click)="onClose()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre Completo</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="employeeForm.get('name')?.hasError('required')">
        El nombre es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput formControlName="email" type="email" required>
      <mat-error *ngIf="employeeForm.get('email')?.hasError('required')">
        El correo es obligatorio
      </mat-error>
      <mat-error *ngIf="employeeForm.get('email')?.hasError('email')">
        Ingresa un correo válido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="password" type="password" required>
      <mat-error *ngIf="employeeForm.get('password')?.hasError('required')">
        La contraseña es obligatoria
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="role_id">
        <mat-option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-footer" align="end">
    <button mat-button type="button" (click)="employeeForm.reset()">Limpiar</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="employeeForm.invalid">Guardar</button>
  </mat-dialog-actions>
</form>
