.container-fluid {
  background: linear-gradient(180deg, #009ebc 0%, #203a43 50%, #2c5364 100%) fixed;
}

.btn-register {
  background-color: #009ebc;
}

input.is-invalid,
select.is-invalid,
textarea.is-invalid {
  border-color: #dc3545 !important;
  background-color: #f8d7da !important;
}

.invalid-feedback {
  color: #dc3545;
}

.text {
  color: #009ebc
}

.title {
  color: #0f2027;
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 50.333333%;
  }

  .plan-card {
    margin-bottom: 30px;
  }

  .col-sm-10, .col-md-8, .col-lg-7 {
    max-width: 90%;
  }
}

.form-control:focus {
  border-color: #009ebc !important; /* por ejemplo, verde */
  box-shadow: 0 0 0 0.25rem rgb(163, 221, 232) !important;
}


@media (max-width: 768px) {
  .plan-card {
    width: 100%;
  }
}

.margin-top-eye  {
  margin-top: 2rem;
}



