.container-fluid {
  background: linear-gradient(180deg, #0f2027 0%, #203a43 50%, #2c5364 100%) fixed;
}

.btn-register {
  background-color: #223344;
}

input.is-invalid,
select.is-invalid,
textarea.is-invalid {
  border-color: #dc3545 !important;
  background-color: #f8d7da !important;
}

.invalid-feedback {
  color: #dc3545;
}


@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 50.333333%;
  }

  .plan-card {
    margin-bottom: 30px;
  }

  .col-sm-10, .col-md-8, .col-lg-7 {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .plan-card {
    width: 100%;
  }
}




