.room-card {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  width: 150px;
  height: 150px;
}

.room-card:hover {
  transform: scale(1.05);
}

.bg-blue {
  background-color: #7DB7C6;
}

.filters-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-item {
  flex: 1 1 200px;
  max-width: 250px;
}

@media (max-width: 768px) {
  .filters {
    display: none;
  }

  .filter-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
  }

  .room-item {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .room-item {
    width: 100%;
  }
}

.filter-item {
  margin-right: 10px;
}

.filter-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

@media (min-width: 768px) {
  .filter-button {
    width: auto;
  }
}

.mat-expansion-panel {
  background-color: #e8e5e5;
}

.custom-col-lg {
  max-width: 13.666667%;
  flex: 0 0 13.666667%;
}


.room-card {
  border-width: 5px;
  border-style: solid;
}
