
<div class="container-fluid">
  <div class="menu">
    <ng-container *ngIf="!isLoading">
      <div class="d-flex justify-content-end align-items-center mt-3 mb-3">
        <button
          mat-button
          [matMenuTriggerFor]="menuOpciones"
          class="btn btn-secondary d-flex align-items-center shadow-sm rounded-pill"
        >
          <mat-icon>settings</mat-icon>
          <span class="ms-2 d-none d-md-inline">Opciones</span>
        </button>

        <mat-menu #menuOpciones="matMenu" class="mat-elevation-z4" [overlapTrigger]="false">
          <button mat-menu-item (click)="assignEmployees()">
            <mat-icon>{{ isAssigning ? 'exit_to_app' : 'add' }}</mat-icon>
            <span>{{ isAssigning ? 'Salir de asignar empleados' : 'Asignar empleados' }}</span>
          </button>
          <button mat-menu-item (click)="changeStatus()">
            <mat-icon>bed</mat-icon>
            <span>Cambiar Estado</span>
          </button>
          <button mat-menu-item [matMenuTriggerFor]="menuLeyenda">
            <mat-icon>info</mat-icon>
            <span>Ver leyenda de estados</span>
          </button>
        </mat-menu>
        <mat-menu #menuLeyenda="matMenu" class="mat-elevation-z4 p-3" [overlapTrigger]="false">
          <div style="width: 260px;">
            <table class="table table-sm mb-0">
              <thead class="table-light">
              <tr>
                <th>Estado</th>
                <th>Color</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of status">
                <td>{{ item.name }}</td>
                <td>
                  <div
                    class="rounded border"
                    style="width: 40px; height: 20px;"
                    [ngStyle]="{ 'background-color': item.color }"
                  ></div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </mat-menu>
        <button class="btn btn-outline-secondary d-md-none ms-2" (click)="toggleFilters()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>
</div>

<div class="container-fluid">
  <mat-accordion [multi]="true" class="p-2 m-2">
    <mat-expansion-panel *ngFor="let floor of Object.keys(groupedRooms)" [expanded]="true">
      <mat-expansion-panel-header class="bg-blue">
        <mat-panel-title>
          Planta {{ floor }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="container mt-2">
        <div class="row">
          <div *ngFor="let room of groupedRooms[+floor]" class="col-6 col-md-3 col-lg-2">
            <div class="card room-card" [ngStyle]="{'border-color': room.status_color}">
              <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <div class="assigned-to mb-3 text-center">
                  <p class="fs-6">{{ room.assigned_to }}</p>
                </div>
                <h2 class="card-title text-center mb-0">{{ room.number }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
