<html>
<body>

<ng-container *ngIf="!isLoading; else spinner">
  <mat-tab-group>
    <mat-tab label="Empleados">
      <div *ngIf="dataSourceEmployees.data.length == 0"class="alert alert-warning mt-3">
        No hay empleados actualmente.
      </div>
      <mat-expansion-panel *ngIf="dataSourceEmployees.data.length > 0" [expanded]="true">
        <mat-expansion-panel-header class="expansion-panel">
          <mat-panel-title>
            Empleados
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="dataSourceEmployees" class="full-width-table">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre</th>
            <td mat-cell *matCellDef="let employee"> {{ employee.name }}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Correo</th>
            <td mat-cell *matCellDef="let employee"> {{ employee.email }}</td>
          </ng-container>

          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Rol</th>
            <td mat-cell *matCellDef="let employee"> {{ employee.role_id == 3 ? 'Gobernanta'  : 'Limpiador' }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones</th>
            <td mat-cell *matCellDef="let employee">
              <div class="gap-2">
              <button mat-mini-fab color="primary" (click)="editEmployee(employee.id)" [matTooltip]="'Editar Empleado'" >
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab color="accent" (click)="deleteEmployee(employee.id)" [matTooltip]="'Eliminar Empleado'">
                <mat-icon>delete</mat-icon>
              </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsEmployees"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsEmployees;"></tr>
        </table>
        <mat-paginator #paginatorEmployees [pageSize]="5" [pageSizeOptions]="[5, 10, 25]"
                       showFirstLastButtons></mat-paginator>
      </mat-expansion-panel>

    </mat-tab>

    <mat-tab label="Habitaciones">
      <div *ngIf="roomDataSource.data.length == 0"class="alert alert-warning mt-3">
        No hay habitaciones actualmente.
      </div>
      <mat-expansion-panel *ngIf="roomDataSource.data.length > 0" [expanded]="true">
        <mat-expansion-panel-header class="expansion-panel">
          <mat-panel-title>
            Habitaciones
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="roomDataSource" class="full-width-table">
          <ng-container matColumnDef="floor">
            <th mat-header-cell *matHeaderCellDef> Planta</th>
            <td mat-cell *matCellDef="let room"> {{ room.floor }}</td>
          </ng-container>

          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef> Número</th>
            <td mat-cell *matCellDef="let room"> {{ room.number }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones</th>
            <td mat-cell *matCellDef="let room">
              <button mat-mini-fab color="accent" (click)="deleteRoom(room.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsRooms"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsRooms;"></tr>
        </table>
        <mat-paginator #paginatorRooms [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons
                       [pageSize]="5"
                       [pageIndex]="0"></mat-paginator>
      </mat-expansion-panel>
    </mat-tab>

    <mat-tab label="Estados">
      <div *ngIf="statusDataSource.data.length == 0" class="alert alert-warning mt-3">
        No hay estados actualmente.
      </div>
      <mat-expansion-panel *ngIf="statusDataSource.data.length > 0" [expanded]="true">
        <mat-expansion-panel-header class="expansion-panel">
          <mat-panel-title>
            Estados
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="statusDataSource" class="full-width-table">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre</th>
            <td mat-cell *matCellDef="let status"> {{ status.name }}</td>
          </ng-container>
          <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef> Color</th>
            <td mat-cell *matCellDef="let status">
              <span class="color-box" [ngStyle]="{'background-color': status.color}"></span>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones</th>
            <td mat-cell *matCellDef="let room">
              <button mat-mini-fab color="accent" (click)="deleteStatus(room.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsStatus"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsStatus;"></tr>
        </table>
        <mat-paginator #paginatorStatus [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons
                       [pageSize]="5"
                       [pageIndex]="0"></mat-paginator>
      </mat-expansion-panel>
    </mat-tab>

    <mat-tab label="Tareas">
      <div *ngIf="tasksDataSource.data.length == 0"class="alert alert-warning mt-3">
        No hay tareas actualmente.
      </div>
      <mat-expansion-panel *ngIf="tasksDataSource.data.length >0" [expanded]="true">
        <mat-expansion-panel-header class="expansion-panel">
          <mat-panel-title>
            Tareas
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="tasksDataSource" class="full-width-table">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre</th>
            <td mat-cell *matCellDef="let task"> {{ task.name }}</td>
          </ng-container>
          <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef> Color</th>
            <td mat-cell *matCellDef="let task">
              <span class="color-box" [ngStyle]="{'background-color': task.color}"></span>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones</th>
            <td mat-cell *matCellDef="let task">
              <button mat-mini-fab color="accent" (click)="deleteTask(task.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsTasks"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsTasks;"></tr>
        </table>
        <mat-paginator #paginatorTasks [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons
                       [pageSize]="5"
                       [pageIndex]="0"></mat-paginator>
      </mat-expansion-panel>
    </mat-tab>
  </mat-tab-group>
</ng-container>

<ng-template #spinner>
  <div class="spinner-container d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <mat-spinner diameter="70"></mat-spinner>
      <div class="loading-text mt-3">Cargando Panel...</div>
    </div>
  </div>
</ng-template>
</body>
</html>
